@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600&display=swap');

:root {
    /* Primary */

    /* - Desaturated*/
    --Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);

    /* Neutral */

    --Dark-Grayish-Red: hsl(0, 6%, 24%);

    /* Gradients */

    --linear-one: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --linear-two: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    /* Typography */

    --Font-size: 16px;

}


body {
    padding: 0;
    margin: 0;
    font-family:'Josefin Sans', sans-serif;
    box-sizing: border-box;
    
}

.mini {
    background-image: var(--linear-one);
    padding: 10% 0;
}

.logo {
 
    bottom: 93.58%;
    top: 0px;
    margin: 30px 0 30px 32px;
}

.hero-mobile {
    width: 100%;
}

.hero-desktop{
    display: none;
}


.first {
    font-size: 42px;
    font-weight: 300;
    color: var(--Red);
    text-align: center;
}

.inline{
    display: block;
    font-weight: bolder;
    color: var(--Dark-Grayish-Red);
    margin: 0 auto;
}

.second {
    font-size: 42px;
    font-weight: 600;
    margin-left: 65px;
    line-height: 42px;
    color: var(--Dark-Grayish-Red);
    text-align: center;
    letter-spacing: 0.22em;
}


.third {
    width: 80%;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: var(--Red);
    margin: 0 auto;
}

form{
    position: relative;
}


input[type="email"]{
    margin: 33px 0 0 32px;
    padding: 14px;
    box-sizing: border-box;
    border-radius: 22px;
    background-color: transparent;
    border:2px solid var(--Red);
    width: 80%;
    outline: none;
    /* border-right-width: 0; */
}

.icon-error{
    position: absolute;
    right: 25%;
    bottom: 30%;
    /* visibility: hidden; */
}

button {
    display: inline-block;
    background-image: var(--linear-two);
    padding: 10px;
    border-radius: 18px;
    text-align: center;
    box-sizing: border-box;
    border-width: 0;
    position: absolute;
    top: 35%;
    right: 12%;
    outline: none;
    cursor: pointer;
}
 
small {
    color: var(--Red);
    left: 12%;
    position: relative;
    /* visibility: hidden; */
}

@media screen and (min-width: 425px) {
    /* .icon-error{
        position: absolute;
        right: 25%;
        bottom: 30%;
    } */
}

@media screen and (min-width: 768px) {
    button {
        right: 6%;
    }

    input[type="email"]{
        width: 90%;
    }

    .icon-error{
        right: 15%;
    }

    small {
        left: 5%;
    }
}

@media screen and (min-width:1024px){
    body{
        display: flex;
        justify-content: center;
        
    }
    .wrapper{
        display: flex;
    }

    .logo{
        margin: 5% 0 8% 0;
    }

    .mini{
        background:url(./images/bg-pattern-desktop.svg), var(--linear-one);
        padding: 60px;
        flex-basis: 60%;

    }

    .first{
        text-align: left;
        font-size: 64px;

    }

    .inline{
        margin: 0;
        font-size: 64px;
    }

    .third{
        margin: 0;
        font-size: 16px;
        text-align: left;
    }

    input[type="email"]{
        margin-left: 0;
        
    }

    .icon-error{
        right: 25%;
    }
  
    button{
        position: absolute;
        right: 10%;
        margin-top: 0%;
    }

    .hero-mobile{
        display: none;
    }

    .hero-desktop{
        display: block;
    }
}

@media screen and (min-width: 1440px) {

    .third{
        font-size: 20px;
        text-align: left;
    }

    .icon-error{
        right: 20%;
    }

    small {
        font-size: 18px;
        left: 0;
    }
}